<!-- component -->
<section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-8 mx-auto">
        <div class="lg:flex lg:-mx-2">
            <div class="space-y-3 lg:w-1/5 lg:px-2 lg:space-y-4">
                <a href="#" class="block font-medium text-gray-500 dark:text-gray-300 hover:underline">Jackets &
                    Coats</a>
                <a href="#" class="block font-medium text-gray-500 dark:text-gray-300 hover:underline">Hoodies</a>
                <a href="#" class="block font-medium text-blue-600 dark:text-blue-500 hover:underline">T-shirts &
                    Vests</a>
                <a href="#" class="block font-medium text-gray-500 dark:text-gray-300 hover:underline">Shirts</a>
                <a href="#" class="block font-medium text-gray-500 dark:text-gray-300 hover:underline">Blazers &
                    Suits</a>
                <a href="#" class="block font-medium text-gray-500 dark:text-gray-300 hover:underline">Jeans</a>
                <a href="#" class="block font-medium text-gray-500 dark:text-gray-300 hover:underline">Trousers</a>
                <a href="#" class="block font-medium text-gray-500 dark:text-gray-300 hover:underline">Shorts</a>
                <a href="#" class="block font-medium text-gray-500 dark:text-gray-300 hover:underline">Underwear</a>
            </div>

            <% if(hasProducts){%>
            <div class="mt-6 lg:mt-0 lg:px-2 lg:w-4/5 ">
                <div class="flex items-center justify-between text-sm tracking-widest uppercase ">
                    <p class="text-gray-500 dark:text-gray-300"><%=prods.length%> Items</p>
                    <div class="flex items-center">
                        <p class="text-gray-500 dark:text-gray-300">Sort</p>
                        <select class="font-medium text-gray-700 bg-transparent dark:text-gray-500 focus:outline-none">
                            <option value="#">Recommended</option>
                            <option value="#">Size</option>
                            <option value="#">Price</option>
                        </select>
                    </div>
                </div>

                <div class="w-full grid grid-cols-1 gap-8 mt-8 md:grid-cols-2 lg:grid-cols-3 ">

                    <% for(let {_id,title,price,slug,description,rating,imageUrl} of prods){%>
                    <article class=" flex flex-col items-center justify-center w-full max-w-lg mx-auto">
                        <header>
                            <img class="object-cover w-full rounded-md h-72 xl:h-80" src="<%=imageUrl%>"
                                alt="<%=title%>">
                            <h4 class="mt-2 text-lg text-center font-medium text-gray-700 dark:text-gray-200"><a
                                    href="/products/<%=slug%>" class="block w-full"><%=title%></a>
                            </h4>
                        </header>
                        <div class="flex items-center mt-2.5 mb-5">
                            <% for(let i=0;i<rating;i++){%>
                            <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                </path>
                            </svg>
                            <%}%>
                            <span
                                class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3"><%=rating%>.0</span>
                        </div>

                        <p class="text-blue-500">$<%=price%></p>
                        <div class="flex items-center justify-between w-full space-x-2">

                            <a href="/admin/edit-product/<%=_id%>?edit=true"
                                class="cursor-pointer flex items-center justify-center w-full px-2 py-2 mt-4 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-gray-800 rounded-md hover:bg-gray-700 focus:outline-none focus:bg-gray-700">
                                <span class="mx-1">Edit</span>
                            </a>
                            <form action="/admin/delete-product" method="POST" class="w-full"
                                onsubmit="(e)=>confimr('Voulez-vous vraiment supprimer ce produit ?') ? true : e.preventDefault();">
                                <input type="hidden" name="productId" value="<%=_id%>">
                                <button type="submit"
                                    class="cursor-pointer flex items-center justify-center w-full px-2 py-2 mt-4 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-red-800 rounded-md hover:bg-red-700 focus:outline-none focus:bg-gray-700">
                                    <span class="mx-1">Delete</span>
                                </button>
                            </form>

                        </div>
                    </article>
                    <%}%>
                </div>
            </div>
            <% }%>
                </div>
            </div>
</section>